{% extends 'base.html.twig' %}

{% block title %}Administrador de proveedores{% endblock %}
{% block stylesheets %} {{ parent() }} {% endblock %}
{% block body %}
    <div class="container">
        <div class="admin__container">
            <div class="header__container">
                <a href="{{ path('index') }}" class="link__item">Ir al inicio</a>
            </div>
            <div class="main__container add__provider">
                {{ form_start(add_provider) }}
                {{ form_row(add_provider.nombre) }}
                {{ form_row(add_provider.email) }}
                {{ form_row(add_provider.telefono) }}
                {{ form_row(add_provider.activo) }}
                {{ form_row(add_provider.tipoProveedor) }}
                <div class="btns__container">
                    {{ form_row(add_provider.submit) }}
                    {{ form_row(add_provider.cancelar) }}
                </div>
                {{ form_end(add_provider) }}
            </div>
        </div>
    </div>

{% endblock %}